.dropdown-wrapper {
  position: absolute;
  display: none;
  padding: 5px;
  border: 1px solid black;
}

.dropdown-wrapper.dropdown-active {
  display: block;
  position: absolute;
}

.dropdown-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  max-height: 400px;
  overflow: auto;
}

.dropdown-list-item {
  padding: 7px;
  background: #000;
  color: #fff;
  margin-bottom: 2px;
  transition: all 0.2s;
}

.dropdown-list-item:focus,
.dropdown-list-item:hover {
  background: grey;
}

.dropdown-list-item:active {
  transition: none;
  background: orange;
}
