input[type=text] {
  padding:10px;
  margin:5px 0;
  font-family: 'Comfortaa', cursive;
  font-size: large;
  border:0;
  border-bottom:1px solid black;
}
input[type=password] {
  padding:10px;
  margin:5px 0;
  font-size: large;
  border:0;
  border-bottom:1px solid black;
}

input[type=email] {
  padding:10px;
  border:0;
  font-size: large;
  font-family: 'Comfortaa', cursive;
  border-bottom:1px solid black;
}
input[type=tel] {
  padding:10px;
  border:0;
  font-size: large;
  font-family: 'Comfortaa', cursive;
  border-bottom:1px solid black;
}