.profile-input {
  border: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  color: #999999;
  background-color: #fff;
  text-align: end;
}

.profile-input:focus{
  outline: none;
}

.login-input {
  padding:10px;
  margin:5px 0;
  font-family: 'Comfortaa', cursive;
  font-size: large;
  border:0;
  border-bottom:1px solid black;
}