button {
  cursor: pointer;
}
.btn-green {
  margin-top: 40px;
  width: 200px;
  padding: 10px;
  font-family: "Comfortaa", cursive;
  background-color: #e0fad8;
}

.btn-black {
  padding: 10px;
  font-family: "Comfortaa", cursive;
  font-size: large;
  color: #fff;
  background-color: #000;
}

.btn-black-w100 {
  width: 100%;
  padding: 10px;
  font-family: "Comfortaa", cursive;
  font-size: large;
  color: #fff;
  background-color: #000;
}

.btn-change {
  margin-top: 15px;
  width: 200px;
  padding: 10px;
  font-family: "Comfortaa", cursive;
  background-color: #e0fad8;
}

.btn-exit {
  margin-top: 15px;
  width: 200px;
  padding: 10px;
  font-family: "Comfortaa", cursive;
  color: #b90000;
  background-color: #d4e3f7;
}

.btn-back {
  padding: 10px;
  font-family: "Comfortaa", cursive;
  color: #fff;
  background-color: #000;
  position: absolute;
  left: 40px;
  top: 40px;
}
