@import '../variables.scss';

button {
  cursor: pointer;
}
.btn-green {
  margin-top: 40px;
  width: 200px;
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  background-color: $accept-button-color;
  border-color: $primary-black;
  border-width: 1px;
}

.btn-black {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: large;
  color: $primary-background;
  background-color: $primary-black;
  border: none;
}

.btn-black-w100 {
  width: 100%;
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: large;
  color: $primary-background;
  background-color: $primary-black;
  border: none;
}

.btn-change {
  margin-top: 15px;
  width: 200px;
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  background-color: $accept-button-color;
  border-color: $primary-black;
  border-width: 1px;
}

.btn-exit {
  margin-top: 15px;
  width: 200px;
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  color: $danger-color;
  background-color: $deny-button-color;
  border-color: $primary-black;
  border-width: 1px;
}

.btn-back {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  color: $primary-background;
  background-color: $primary-black;
  position: absolute;
  left: 40px;
  top: 40px;
}

.btn-menu {
  display: flex;
  border-radius: 50%;
  width: 0.7vw;
  height: 0.7vw;
  padding: 0.7vw;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: $secondary-background;
  background-image: url('../../static/ellipsis-vertical-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5vw 1.5vw;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.btn-menu:hover {
  background-color: #c9c9c970;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.btn-attach-file {
  border-radius: 50%;
  width: 0.7vw;
  height: 0.7vw;
  padding: 0.7vw;
  outline: none;
  border: none;
  background-color: $primary-background;
  background-image: url('../../static/paperclip-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5vw 1.5vw;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.btn-attach-file:hover {
  background-color: #c9c9c970;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.btn-add-chat {
  border-radius: 50%;
  width: 0.8vw;
  height: 0.8vw;
  padding: 0.8vw;
  outline: none;
  border: none;
  background-color: $secondary-background;
  background-image: url('../../static/plus-circle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.8vw 1.8vw;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.btn-add-chat:hover {
  background-color: rgba(0, 128, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.delete-chat-btn {
  border-radius: 50%;
  width: 0.6vw;
  height: 0.6vw;
  padding: 0.6vw;
  outline: none;
  border: none;
  background-color: $secondary-background;
  background-image: url('../../static/x-circle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4vw 1.4vw;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.delete-chat-btn:hover {
  background-color: rgba(255, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.add-chat-user-btn {
  border-radius: 50%;
  width: 0.6vw;
  height: 0.6vw;
  padding: 0.6vw;
  outline: none;
  border: none;
  background-color: $secondary-background;
  background-image: url('../../static/person-add.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4vw 1.4vw;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.add-chat-user-btn:hover {
  background-color: rgba(0, 128, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.delete-chat-user-btn {
  border-radius: 50%;
  width: 0.6vw;
  height: 0.6vw;
  padding: 0.6vw;
  outline: none;
  border: none;
  background-color: $secondary-background;
  background-image: url('../../static/person-x.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4vw 1.4vw;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.delete-chat-user-btn:hover {
  background-color: rgba(255, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.change-chat-avatar-btn {
  border-radius: 50%;
  width: 0.6vw;
  height: 0.6vw;
  padding: 0.6vw;
  outline: none;
  border: none;
  background-color: $secondary-background;
  background-image: url('../../static/person-bounding-box.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.1vw 1.1vw;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}

.change-chat-avatar-btn:hover {
  background-color: rgba(0, 128, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}
