@import '../variables.scss';

.new-chat-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.upload-photo-form {
  background-color: $primary-background;
  border: 2px solid $primary-black;
  color: $primary-black;
  width: 400px;
  height: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
