@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import '../../components/variables.scss';

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: $primary-background;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main-container {
  height: 100%;
  display: flex;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: $secondary-background;
}

.right-container {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: $secondary-background;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.chat-header-left {
  display: flex;
  align-items: center;
  padding: 5px;
}

.chat-body {
  background-color: $primary-background;
  flex: 11;
  overflow-y: auto;
}

.message-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.incoming-message {
  background-color: $incoming-color;
  max-width: 40%;
  align-self: flex-start;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.outgoing-message {
  background-color: $outgoing-color;
  max-width: 40%;
  align-self: flex-end;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message-meta {
  margin-top: 10px;
  font-size: x-small;
  align-self: flex-end;
  color: $secondary-black;
  display: flex;
  flex-direction: row;
}

.message-meta-img {
  width: 12px;
  height: 12px;
  padding-right: 2px;
}

.day-list {
  display: flex;
  flex-direction: column;
}

.day-divider {
  align-self: center;
  font-size: small;
  color: $secondary-black;
  margin-bottom: 20px;
}

.chat-footer {
  background-color: $primary-background;
  flex: 2;
}

.send-message-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.profile-link-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}

.search-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.chat-list-container {
  flex: 12;
  overflow-y: auto;
}

.chat-list {
  display: flex;
  flex-direction: column;
}
