@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
}
html {
  height: 100%;
}

body {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}

.profile-name {
  margin-bottom: 40px;
  font-size: 32px;
}

.form-group {
  width: 600px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom:1px solid #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
}

.btn-save {
  margin-top: 50px;
  width: 200px;
  padding:10px;
  font-family: 'Comfortaa', cursive;
  background-color: #E0FAD8;
}

.btn-back {
  padding:10px;
  font-family: 'Comfortaa', cursive;
  color: #fff;
  background-color: #000;
  position: absolute;
  left: 40px;
  top: 40px
}

input {
  border: 0;
  font-family: 'Comfortaa', cursive;
  color: #999999;
  text-align: end;
}

input:focus{
  outline: none;
}