@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}
html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #D4E3F7;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: #fff;
  width: 500px;
  height: 600px;
  border: 1px solid black;
}

.form-group {
  display:flex;
  flex-direction: column;
}

form {
  height: 550px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 30px 0 30px;
}

h2 {
  text-align: center;
}

a {
  width: max-content;
  align-self: center;
  padding-bottom: 15px;
  color: #000;
}

input[type=text] {
  padding:10px;
  margin:10px 0;
  font-family: 'Comfortaa', cursive;
  font-size: large;
  border:0;
  border-bottom:1px solid black;
}
input[type=password] {
  padding:10px;
  margin:10px 0;
  font-size: large;
  border:0;
  border-bottom:1px solid black;
}

input[type=submit] {
  padding:10px;
  font-family: 'Comfortaa', cursive;
  font-size: large;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

label {
  color: #999999;
}