@import './variables.scss';

button {
  cursor: pointer;
}
.btn-green {
  margin-top: 40px;
  width: 200px;
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  background-color: $accept-button-color;
}

.btn-black {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: large;
  color: $primary-background;
  background-color: $primary-black;
}

.btn-black-w100 {
  width: 100%;
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  font-size: large;
  color: $primary-background;
  background-color: $primary-black;
}

.btn-change {
  margin-top: 15px;
  width: 200px;
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  background-color: $accept-button-color;
}

.btn-exit {
  margin-top: 15px;
  width: 200px;
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  color: $danger-color;
  background-color: $deny-button-color;
}

.btn-back {
  padding: 10px;
  font-family: 'Comfortaa', cursive;
  color: $primary-background;
  background-color: $primary-black;
  position: absolute;
  left: 40px;
  top: 40px;
}
