$primary-background: #fff;
$secondary-background: #f9f9f9;
$accent-background: #d4e3f7;
$primary-black: #000;
$secondary-black: #999;
$incoming-color: #f2faf1;
$outgoing-color: #f0f4fa;
$accept-button-color: #e0fad8;
$deny-button-color: #d4e3f7;
$danger-color: #b90000;
$active-chat-background-color: $incoming-color;
$active-chat-accent-color: #afdda2;
$locking-bacground: rgba(0 0 0 80%);
$blackout-color: rgba(0 0 0 50%);
