@import "../variables.scss";

.img-back {
  background-color: $primary-black;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  position: relative;
  visibility: hidden;
  margin-top: 30px;
  margin-bottom: 20px;
}

.profile-img {
  width: 100%;
  border-radius: 100%;
  position: absolute;
  visibility: visible;
}

.img-back:hover {
  visibility: visible;
  cursor: pointer;
}

.img-back:hover img {
  opacity: 0.4;
  box-shadow: 0 0 10px $blackout-color;
}

.img-back-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  color: $primary-background;
  transform: translate(-50%, -50%);
  visibility: inherit;
  font-size: larger;
}
